version: '3.8'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: WorldCupGuide_App
    restart: always
    ports:
      - "8000:8080"
    environment:
      # ... (todas tus variables de entorno se quedan igual) ...
      - ConnectionStrings__DefaultConnection=Server=db;Port=3306;Database=${DB_DATABASE};User=root;Password=${DB_ROOT_PASSWORD}
      # ...
    # ESTO ES LO QUE CAMBIA:
    depends_on:
      db:
        condition: service_healthy # <--- ¡Magia!
    volumes:
      - ./ProyectoWeb2/wwwroot:/app/wwwroot

  db:
    image: mysql:8.0
    container_name: WorldCupGuide_MySQL_DB
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE} 
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    # ESTO SE AÑADE:
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  db-data: